<h1>Listing stations</h1>

<table>
  <tr>
    <th>Company</th>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @stations.each do |station| %>
  <tr>
    <td><%= link_to station.company.name, station.company %></td>
    <td><%= link_to station.name, station %></td>
  </tr>
<% end %>
</table>
